html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(161, 161, 161);
    width: 100vw;
    height: 100%;
}

body {
    margin: 0;
}

html::-webkit-scrollbar {
    display: none;
}

p {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
    width: min(100%, 1000px);
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a.id {
    width: 40px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

a.name {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
    width: 100%;
}

input {
    margin: 10px;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
}

.center {
    text-align: center;
    border-bottom: black 1px solid;
}

a#dl {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}